.laterCard {
  height: 450px;
  width: 300px;
  margin: 10px;
}

.laterMedia {
  height: 150px;
  width: 300px;
}
.cardImage {
  height: 100%;
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
}
.card-data {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.card-price {
  display: flex;
  font-size: 1.2rem;
  padding-left: 10px;
}
.cart-buttons {
  margin: 5px;
  display: flex;
  justify-content: center;
}
.cart-btn {
  margin: 0px 5px;
}
